---
import BaseLayout from '../layouts/BaseLayout.astro'

let title = 'Metaprime'
let description = 'Metaprime description'
---
<BaseLayout title={title} description={description}>
  <h1>Homepage</h1>
</BaseLayout>
