---
import fs from 'node:fs/promises'
import path from 'node:path'

const fontsPath = path.resolve('src/styles/fonts.css')
const fonts = '<style>' + await fs.readFile(fontsPath, 'utf-8') + '</style>'

const { title } = Astro.props

let description = 'Metaprime description'
---
<link rel="preload" href="/assets/fonts/Montserrat-Regular.woff2" as="font" crossorigin />
<link rel="preload" href="/assets/fonts/Montserrat-SemiBold.woff2" as="font" crossorigin />
<link rel="preload" href="/assets/fonts/Montserrat-Italic.woff2" as="font" crossorigin />
<link rel="preload" href="/assets/fonts/WorkSans-SemiBold.woff2" as="font" crossorigin />

{fonts}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{title}</title>
<meta name="description" content={description}>
<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg"> -->
<!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
<link
    rel="stylesheet"
    href={Astro.resolve("../styles/global.css")}
>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
