---
import BaseHead from './BaseHead.astro'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'

const {title} = Astro.props
---
<html lang="en">
  <head>
    <BaseHead
      title={title}
    />
  </head>
  <body class="font-primary bg-dark text-white">
    <Header client:load />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
